<div class="row">
  <div class="col-3">
    <product-filter [category]="category"></product-filter>
  </div>
  <div class="col">
    <div class="card-columns">
      <div *ngFor="let p of filteredProducts" class="card" style="width: 15rem;">
        <img class="card-img-top" [src]="p.imageUrl" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{p.title}}</h5>
          <p class="card-text">{{p.price}}</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>