<div class="row">
  <div class="col-3">
    <ul>
      <li *ngFor="let c of categories$ | async" class="list-group-item">
        {{ c.name }}
      </li>
    </ul>
  </div>
  <div class="col">
    <div class="card-columns">
      <div *ngFor="let p of products$ | async" class="card" style="width: 15rem;">
        <img class="card-img-top" [src]="p.imageUrl" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{p.title}}</h5>
          <p class="card-text">{{p.price}}</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>